header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  box-sizing: border-box;
  transform: translateY(0px);
  background-color: rgba(10, 25, 47, 0.85);
  box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
}

nav {
  display: flex;
  justify-content: flex-end;
}

.btngroup {
  display: flex;
  width: 50%;
  justify-content: space-around;

}

.btngroup a {
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  color: #e6f1ff;
  cursor: pointer;
}

.btngroup a:hover {
  color: #00BFFF;
  text-decoration: none;
}

.hidden {
  display: none;
}


@media screen and (max-width:768px) {
  .btngroup {
    width: 100%;
  }
}