.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work .title {
    font-size: 3rem;
    margin: 10px 0px 40px;
    width: 100%;
    white-space: nowrap;
    align-items: center;
    color: #ccd6f6;
    display: flex;
    align-self: center;
}

.work .title::after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
}

.box {
    width: 80%;
    margin: 3rem 0;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.box.visible {
    opacity: 1;
    transform: translateY(0);
}

.box__inner {
    position: relative;
    height: max-content;
}


.box__inner .img-wapper {
    position: absolute;
    width: 55%;
}

.box__inner .img-wapper-right {
    position: absolute;
    width: 55%;
    right: 0;
}

.img-wapper::after {
    content: "";
    height: 0;
    clear: both;
    overflow: hidden;
    display: block;
    visibility: hidden;
}

.box__inner a:hover {
    z-index: 11;
}

.box__inner img {
    width: 100%;
}

.box__inner img:hover {
    width: 100%;
    transform: scale(1.1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.box__inner img:not( :hover) {
    transform: scale(1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.box__wrapper {
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.box__wrapper-right {
    align-items: flex-end;
}

.box__wrapper-left {
    align-items: flex-start;
}

.box__wrapper span {
    color: #00BFFF;
    margin: 10px 0px;
}

.box__wrapper a {
    color: #ccd6f6;
    margin: 0px 0px 20px;
    text-decoration: none;
    font-size: 2rem;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.box__wrapper a:hover {
    color: #00BFFF;
    text-decoration: none;
}

.box__wrapper .desc {
    background-color: #112240;
    padding: 2rem;
    width: 44%;
    z-index: 10;
    border-radius: 10px;
}

.box__wrapper .desc p {
    font-size: 16px;
    color: #a8b2d1;
}


.techstack {
    margin: 25px 0px 10px;
    display: flex;
    flex-wrap: wrap;
}

.techstack li {
    margin: 0px 20px 5px 0px;
    color: #a8b2d1;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    font-size: 13px;
    white-space: nowrap;
}

.link a {
    display: inline-block;
    margin-right: 20px;
}

@media screen and (max-width:1000px) {
    .box__wrapper {
        display: flex;
    }

    .box__wrapper .desc {
        width: 100%;
        box-sizing: border-box;
    }

    .box__inner .img-wapper {
        position: relative;
    }

    .box__inner .img-wapper-right {
        position: relative;
    }
}

@media screen and (max-width:576px) {
    #Expenience .title {
        font-size: 3rem;
    }

}