.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info div {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    margin-right: 2rem;
}

.contact-info div p {
    color: #a8b2d1;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    font-size: 16px;
    transform: translate(0px, 0px);
    opacity: 1;
    margin-left: 2.2rem;
}

.contact-info div a {
    color: #a8b2d1;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    font-size: 16px;
    transform: translate(0px, 0px);
    opacity: 1;
    margin-left: 2.2rem;
}

@media screen and (max-width:480px) {
    .contact-info div p {
        font-size: 16px;
        margin-left: 1.5rem;
    }

    .contact-info div a {
        font-size: 16px;
        margin-left: 1.5rem;
    }
}